<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="600">
                {{{block "body"}}}
                {{> footer}}
            </td>
        </tr>
    </table>
</body>
</html>